# Execute it as a markdown cell
# H1:  Data Science Tools and Ecosystem

# Execute it as markdown cell
***In this notebook, Data Science Tools and Ecosystem are summarized.***
**Objectives**
# List popular languages for data science
- Python
- R
- SQL

# Execute as a markdown cell
# Some of the popular languages that Data Scientists use are:
1. first language - python
2. second language - R
3. third language - SQL

# Execute as a markdown cell
# Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. PyTorch

# Execute as a markdown
# H1: Data Science Tools
| First | Jupyter Notebook |  
| Second | RStudio |  
| Third | KNIME |

In [3]:
# Execute as a markdown cell
# H3: Below are a few examples of evaluating arithmetic expressions in Python.
# This a simple arithmetic expression to mutiply then add integers.
(3 * 4) + 5

17

In [4]:
## Execute as a code
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

# Execute as a markdown cell
# H2: Author
Saumya Kumari